<h1>ユーザー一覧</h1>

<% @users.each do |user| %>
  <%= link_to "この人のページへ", user_path(user.id) %></br>
  <%= gravatar_for user %>
  <%= user.name %></br>
  <%= user.email %></br>
  <%= user.location %></br>
  <%= user.profile %></br></br>
<% end %>