<h1>ユーザー一覧</h1>

<% @users.each do |user| %>
  <%= link_to gravatar_for(user), user_path(user.id) %>
  <%= user.name %></br>
  <%= user.email %></br>
  <%= user.location %></br>
  <%= user.profile %></br></br>
<% end %>