
  
<style>
  .table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
}
</style>
  
  
<%= gravatar_for @user %>



  



<div class="container">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th class="col-sm-2">名前</th>
        <td class="col-sm-10"><%= @user.name %></td>
      </tr>
      <tr>
        <th class="col-sm-2">メールアドレス</th>
        <td class="col-sm-10"><%= @user.email %></td>
      </tr>
      <tr>
        <th class="col-sm-2">地域</th>
        <td class="col-sm-10"><%= @user.location %></td>
      </tr>
      <tr>
        <th class="col-sm-2">プロフィール</th>
        <td class="col-sm-10"><%= @user.profile %></td>
      </tr>
      
    </tbody>
  </table>
</div>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>
