
  
<style>
  .table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
}
</style>
  
  
<%= gravatar_for @user %>



  



<div class="container">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th class="col-sm-2">名前</th>
        <td class="col-sm-10"><%= @user.name %></td>
      </tr>
      <tr>
        <th class="col-sm-2">メールアドレス</th>
        <td class="col-sm-10"><%= @user.email %></td>
      </tr>
      <tr>
        <th class="col-sm-2">地域</th>
        <td class="col-sm-10"><%= @user.location %></td>
      </tr>
      <tr>
        <th class="col-sm-2">プロフィール</th>
        <td class="col-sm-10"><%= @user.profile %></td>
      </tr>
      
    </tbody>
  </table>
</div>

